@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --blue: #2a2185;
    --white: #fff;
    --gray: #f5f5f5;
    --black1: #222;
    --black2: #999; 
}

body{
    min-height: 100vh;
}

#container{
    width: 100%;
    position: relative;
}

#navigation{
    width: 300px;
    height: 100vh;
    background-color: #2a2185;
    position: fixed;
    border-left: 10px solid var(--blue);
}

#navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#navigation ul li{
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
   
}
#navigation ul li:hover{
    background: var(--white);
}

#navigation ul li:nth-child(1){
    margin-bottom: 40px;
}


#navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--white);
    display: flex;
    transition: 0.3s ease;
}
#navigation ul li:hover a{
    color: var(--blue);

}
#navigation ul li:hover a::before{
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
}
#navigation ul li:hover a::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
}


#icon{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    text-align: center;
    line-height: 75px;
}
#icon i{
    font-size: 1.75rem;
}

#title{
    position: relative;
    display: block;
    height: 60px;
    line-height: 60px;
    text-align: start;
    padding: 0 10px;
}

/*=====MAIN=======*/
#main{
    width: calc(100% - 300px);
    min-height: 100Vh;
    position: absolute;
    left: 300px;
    background-color: var(--white);
    transition: 0.5s ;
}
#topbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}
#toggle{
    position: relative;
    top: 0;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}
#search{
    width: 400px;
    position: relative;
    margin: 0 10px;   
}
#search label{
    width: 100%;
    position: relative;
}
#search label input{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 40px;
    outline: none;
    border: 1px solid var(--black2);
}
#search label i{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 20px;
}
#user{
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
}
#user img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
}
/*======CARDS========*/
#cardbox{
    width: 100%;
    position: relative;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:30px;
}
#card{
    position: relative;
    background-color: var(--white);
    padding: 30px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: 0.3s ease;
    border-radius: 20px;

}
#card:hover{
    background-color: var(--blue);
}
#card:hover #numbers{
    color: var(--white);
}
#card:hover #cardname{
    color: var(--white);
}
#card:hover #iconbox{
    color: var(--white);
}
#numbers{
    position: relative;
    font-weight: 500;
    color: var(--blue);
    font-size: 2.5rem;
}
#cardname{
    color: var(--black2);
    margin-top: 5px;
    font-size: 1.1rem;
}
#iconbox{
    font-size: 3.5rem;
    color: var(--black2);
    margin-left: 10px;
}

/*==========ORDER LISTS=========*/
#details{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 30px;
    margin-top: 10px;
}
#recentorders{
    position: relative;
    display: grid;
    min-height: 500px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
#cardhead{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}
#cardhead h2{
    font-weight: 700;
    color: var(--blue);
}
#btn{
    text-decoration: none;
    position: relative;
    padding: 5px 10px;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
}
#recentorders table{
    width: 100%;
    border-collapse: collapse;
}
#details table thead td{
    font-weight: 600;
    color: var(--black1);
}
#recentorders table tr{
    border-bottom: 1px solid var(--gray);
    color: var(--black1);
    padding-bottom: 20px;
}

#return{
    background-color: red;
    color: var(--white);
    border-radius: 5px;
    padding: 2px 4px;  
}

#status-delivered, #pending, #in-progress{
    background-color: #8deb2c;
    color: var(--white);
    border-radius: 5px;
    padding: 2px 4px;  
}
#recent-customers{
    position: relative;
    display: grid;
    min-height: 500px;
    padding: 20px;
    background-color: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 25px;
}
#recent-customers table tr td{
    padding: 12px 10px;
}
#imagebox{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#imagebox img{
    width: 40px;
    height: 40px;
    object-fit: cover;
}
#recent-customers table tr{
    width: 100%;

}
#recent-customers table tr h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2rem;
}
#recent-customers table tr h4 span{
    font-size: 14px;
}
#recent-customers table tr:hover{
    background-color: var(--blue);
    color: var(--white);
}


@media (max-width: 768px) {
  #navigation{
    width: 0;
  }
  #main{
    position: absolute;
    left: 0;
    width: 100%;
  }
#cardbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}
#details{
    display: grid;
    grid-template-columns: 1fr;
}

}